# https://git-scm.com/docs/gitignore
# https://github.com/github/gitignore
# 

# Ignore all
*

# unignore this hidden file so it will be saved
!.gitignore

# Unignore source
!*.c
!*.h
!Makefile
!README.md

# unignore for regression test and gdb
!.script
!.gdb

# unignore diagrams using dia, markdown accepts png
!.dia
!.png

# Unignore meson
!meson.build

# Unignore Rust work area
# NOTE: the cargo package area an be synthesized
!rust_ai_assisted
!HLD.md
!stop-cross
!main.rs





