# https://git-scm.com/docs/gitignore
# https://github.com/github/gitignore
# 

# Ignore all
*

# unignore this hidden file so it will be saved
!.gitignore

# Unignore source
!*.c
!*.h
!Makefile
!README.md

# unignore for regression test and gdb
!.script
!.gdb

# unignore diagrams using dia, markdown accepts png
!.dia
!.png

# Unignore meson
!meson.build

# Unignore Rust work area, esp. main.rs updated by prompts
# add medium article because I *hate* the medium stoopit editor
!rust_ai
!stop_cross
!src
!HLD.md
!Cargo.toml
!main.rs
!prd.stoplight-crosswalk.md
!medium-article.md
!medtest.md
